name: XT_NET_WEB_CI

on: [push, pull_request]

jobs:
  restore:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core text
        run: echo Setup .NET Core
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
      - name: Restore app
        run: |
          cd RD_XT_NET_WEB_CI
          ls -f
          dotnet restore
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build app text
        run: echo Build step was started
      - name: Build app
        run: |
          ls -f
          cd RD_XT_NET_WEB_CI
          ls -f
          dotnet build --configuration Release
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run app text
        run: echo 'Run app'
      - name: Run app
        run: |
          cd RD_XT_NET_WEB_CI/RD_XT_NET_WEB_CI
          dotnet run RD_XT_NET_WEB_CI.dll
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print Test app text
        run: echo Build job
      - name: Test app
        run: |
          cd RD_XT_NET_WEB_CI
          dotnet test